body {
	font-family: monospace;
	margin: 0;
	background-color: rgb(75, 75, 75);
	width: 100%;
	word-wrap: break-word;
	background-image: url(img/color_splash.png);
	background-position: 50% 0%;
	background-size: 100%;
}

section.olakase {
	padding: 1em 10em 5em 10em;
	background-color: white;
}

span.email {
	cursor: pointer;
}

footer a {
	color: whitesmoke !important;
	font-weight: bold;
}

header,footer {
	color: whitesmoke;
	text-align: center;
}

header {
	
}

footer {
	border-top: 1em solid greenyellow;
	padding: 2em 4em;
	background-image: url(img/color_splash.png);
	background-position: 50% 100%;
	background-size: 100%;
}

header h1 {
	font-size: 5em;
}

header nav {
	width: 100%;
	background-color: rgb(75, 75, 75);
	border-bottom: .5em solid greenyellow;
	background-image: url(img/color_splash.png);
	background-position: 50% 0%;
	background-size: 100%;
}

nav a {
	padding: 1em 4em;
	color: whitesmoke;
	display: inline-block;
	text-decoration: none;
	background: rgba(0, 0, 0, 0.3);
}

nav a:hover {
	background: greenyellow;
	color: gray;
}

nav a:active {
	color: whitesmoke;
	background: rgb(143, 206, 47);
	background: -moz-linear-gradient(top, #8fce2f 0%, #8fce2f 60%, #adff2f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8fce2f),
		color-stop(60%, #8fce2f), color-stop(100%, #adff2f) );
	background: -webkit-linear-gradient(top, #8fce2f 0%, #8fce2f 60%, #adff2f 100%);
	background: -o-linear-gradient(top, #8fce2f 0%, #8fce2f 60%, #adff2f 100%);
	background: -ms-linear-gradient(top, #8fce2f 0%, #8fce2f 60%, #adff2f 100%);
	background: linear-gradient(to bottom, #8fce2f 0%, #8fce2f 60%, #adff2f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(     startColorstr='#8fce2f',
		endColorstr='#adff2f', GradientType=0 );
}

section.olakase a {
	color: gray;
}

section.olakase em {
	font-weight: bold;
}

.js-dependent,.flick-dependent {
	display: none;
}

.hidden {
	display: none !important;
}

.overlay-container {
	display: block;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .8);
	color: whiteSmoke;
}

.overlay-container a {
	color: greenyellow;
}

#flickr-gallery iframe {
	margin-left: 5%;
}

#flickr-gallery {
	display: inline-block;
	height: 100%;
	background: black;
	border-right: .25em solid greenyellow;
	padding: 2em 0;
	width: 60%;
}

#flickr-gallery-notes {
	display: inline-block;
	width: 30%;
}